@charset "UTF-8";

#wrap{
	width: 1500px; 
	height: hidden; 
	display: flex; 
	justify-content: space-between; 
	margin: 0 auto;
}

#wrap_left{
	width: 650px; 
	height: hidden; 
}

#wrap_left > div:first-child {
	width: 650px; 
	height: 650px;
}

#big_imgSize{
	width: 650px; 
	height: 650px;
}

#wrap_left > div:last-child {
	display: flex;
 	width: 650px; 
	height: hidden; 
	flex-wrap : wrap; 
	padding: 5px 0;
	margin-top: 20px; 
	justify-content : space-between; 
}

#small_imgSize{
	width: 120px; 
	height: 120px; 
	border-radius : 10px;
}

/* 이미지들 */

.sub_wrap{
	width:1500px; 
	height:auto; 
	display:flex; 
	flex-wrap:wrap; 
	margin: 0 auto;
}

#container_wrap{
	width: 340px; 
	height: 405px; margin-bottom: 30px;
}

#card_box{
	margin-bottom: 20px;
} 

#card_box > img:first-child {
	width: 253px; 
	height: 253px; 
	object-fit: fill;
}

#card_box p{
	 white-space: nowrap; 
	 overflow: hidden; 
	 text-overflow: ellipsis;
}

#discolor > li:first-child > span{
	color: hotpink;
}